vexiadeveloperteam-rmonline-ag-api-v1-8e5c0ec296d7/src/main/java/br/com/nextage/rmaweb/ws/CpwebWsPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://ws.rmaweb.nextage.com.br/" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://ws.rmaweb.nextage.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.rmaweb.nextage.com.br/" schemaLocation="CpwebWsPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="saidaMaterial">
    <part name="parameters" element="tns:saidaMaterial"/>
  </message>
  <message name="saidaMaterialResponse">
    <part name="parameters" element="tns:saidaMaterialResponse"/>
  </message>
  <message name="finalizarRm">
    <part name="parameters" element="tns:finalizarRm"/>
  </message>
  <message name="finalizarRmResponse">
    <part name="parameters" element="tns:finalizarRmResponse"/>
  </message>
  <message name="entradaMaterial">
    <part name="parameters" element="tns:entradaMaterial"/>
  </message>
  <message name="entradaMaterialResponse">
    <part name="parameters" element="tns:entradaMaterialResponse"/>
  </message>
  <portType name="CpwebWs">
    <operation name="saidaMaterial">
      <input ns1:Action="http://ws.rmaweb.nextage.com.br/CpwebWs/saidaMaterialRequest" message="tns:saidaMaterial"
             xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://ws.rmaweb.nextage.com.br/CpwebWs/saidaMaterialResponse"
              message="tns:saidaMaterialResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="finalizarRm">
      <input ns3:Action="http://ws.rmaweb.nextage.com.br/CpwebWs/finalizarRmRequest" message="tns:finalizarRm"
             xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://ws.rmaweb.nextage.com.br/CpwebWs/finalizarRmResponse" message="tns:finalizarRmResponse"
              xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="entradaMaterial">
      <input ns5:Action="http://ws.rmaweb.nextage.com.br/CpwebWs/entradaMaterialRequest" message="tns:entradaMaterial"
             xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://ws.rmaweb.nextage.com.br/CpwebWs/entradaMaterialResponse"
              message="tns:entradaMaterialResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

