vexiadeveloperteam-rmonline-ag-api-v1-8e5c0ec296d7/src/main/java/br/com/nextage/rmaweb/ws/IntegracaoWsPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://rmaweb.ws.rmaweb.nextage.com.br/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://rmaweb.ws.rmaweb.nextage.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://rmaweb.ws.rmaweb.nextage.com.br/" schemaLocation="IntegracaoWsPortType_schema1.xsd"/>
    </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rmaweb.ws.rmaweb.nextage.com.br/">
        	<xsd:element name="receberEntrada">
        		<xsd:complexType>
        			<xsd:sequence>

        				<xsd:element name="in" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="receberEntradaResponse">
        		<xsd:complexType>
        			<xsd:sequence>

        				<xsd:element name="out" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element></xsd:schema>
    </types>
  <message name="cadastroFornecedores">
    <part name="parameters" element="tns:cadastroFornecedores"/>
  </message>
  <message name="cadastroFornecedoresResponse">
    <part name="parameters" element="tns:cadastroFornecedoresResponse"/>
  </message>
  <message name="cadastroMateriais">
    <part name="parameters" element="tns:cadastroMateriais"/>
  </message>
  <message name="cadastroMateriaisResponse">
    <part name="parameters" element="tns:cadastroMateriaisResponse"/>
  </message>
  <message name="atualizarEstoque">
    <part name="parameters" element="tns:atualizarEstoque"/>
  </message>
  <message name="atualizarEstoqueResponse">
    <part name="parameters" element="tns:atualizarEstoqueResponse"/>
  </message>
  <message name="estornoRequisicao">
    <part name="parameters" element="tns:estornoRequisicao"/>
  </message>
  <message name="estornoRequisicaoResponse">
    <part name="parameters" element="tns:estornoRequisicaoResponse"/>
  </message>
  <message name="receberCompra">
    <part name="parameters" element="tns:receberCompra"/>
  </message>
  <message name="receberCompraResponse">
    <part name="parameters" element="tns:receberCompraResponse"/>
  </message>
  <message name="criarRma">
    <part name="parameters" element="tns:criarRma"/>
  </message>
  <message name="criarRmaResponse">
    <part name="parameters" element="tns:criarRmaResponse"/>
  </message>
  <message name="receberEntradaRequest">
  	<part name="parameters" element="tns:receberEntrada"></part>
  </message>
  <message name="receberEntradaResponse">
  	<part name="parameters" element="tns:receberEntradaResponse"></part>
  </message>
  <portType name="IntegracaoWs">
    <operation name="cadastroFornecedores">
      <input ns1:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/cadastroFornecedoresRequest" message="tns:cadastroFornecedores" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/cadastroFornecedoresResponse" message="tns:cadastroFornecedoresResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="cadastroMateriais">
      <input ns3:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/cadastroMateriaisRequest" message="tns:cadastroMateriais" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/cadastroMateriaisResponse" message="tns:cadastroMateriaisResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="atualizarEstoque">
      <input ns5:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/atualizarEstoqueRequest" message="tns:atualizarEstoque" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/atualizarEstoqueResponse" message="tns:atualizarEstoqueResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="estornoRequisicao">
      <input ns7:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/estornoRequisicaoRequest" message="tns:estornoRequisicao" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/estornoRequisicaoResponse" message="tns:estornoRequisicaoResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="receberCompra">
      <input ns9:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/receberCompraRequest" message="tns:receberCompra" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/receberCompraResponse" message="tns:receberCompraResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="criarRma">
      <input ns11:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/criarRmaRequest" message="tns:criarRma" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/criarRmaResponse" message="tns:criarRmaResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="receberEntrada">
    	<input ns13:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/receberEntrada" message="tns:receberEntradaRequest"  xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" />
    	<output ns14:Action="http://rmaweb.ws.rmaweb.nextage.com.br/IntegracaoWs/receberEntradaResponse" message="tns:receberEntradaResponse"  xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" />
    </operation>
  </portType>
</definitions>

