vexiadeveloperteam-rmonline-ag-api-v1-8e5c0ec296d7/src/main/java/br/com/nextage/rmaweb/ws/sap/consultarEstoque/93058bb0621330e0ad2252b057367721.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_ConsultaEstoqueSyncOut" targetNamespace="urn:cccc.rmaweb.consultaestoque"
                  xmlns:p3="urn:cccc.rmaweb.objetoscomuns" xmlns:p2="urn:cccc.reeweb.objetoscomuns"
                  xmlns:p1="urn:cccc.rmaweb.consultaestoque" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SI_ConsultaEstoqueSyncOut"/>
    <wsdl:types>
        <xsd:schema targetNamespace="urn:cccc.rmaweb.consultaestoque" xmlns="urn:cccc.rmaweb.consultaestoque"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="MT_ConsultaEstoque" type="DT_ConsultaEstoque"/>
            <xsd:element name="MT_ConsultaEstoque_Response" type="DT_ConsultaEstoque_Response"/>
            <xsd:complexType name="DT_ConsultaEstoque_Response">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">d5fe3f51184111e6987c000000788fde</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="material_deposito" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="cod_deposito" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="cod_material" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="nome_material" type="xsd:string" minOccurs="0"/>
                                <xsd:element name="quantidade" type="xsd:string" minOccurs="0"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DT_ConsultaEstoque">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">6331f5f2184111e68e35000000788fde</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="cod_deposito" type="xsd:string"/>
                    <xsd:element name="cod_material" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="centro" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="urn:cccc.reeweb.objetoscomuns" xmlns="urn:cccc.reeweb.objetoscomuns"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p6="urn:cccc.rmaweb.objetoscomuns">
            <xsd:import namespace="urn:cccc.rmaweb.objetoscomuns"/>
            <xsd:element name="MT_Erro">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="standard" type="p6:ExchangeFaultData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema targetNamespace="urn:cccc.rmaweb.objetoscomuns" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="urn:cccc.rmaweb.objetoscomuns">
            <xsd:complexType name="ExchangeLogData">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">66331529676811e5bae8000000788fde</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="severity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="text" type="xsd:string"/>
                    <xsd:element name="url" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="id" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExchangeFaultData">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">6623ad4b676811e5b743000000788fde</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="faultText" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">ccfc9431c01a11e39c27fcf8aee30cc8
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="faultUrl" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">ccfcaaf2c01a11e3a773fcf8aee30cc8
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="faultDetail" type="ExchangeLogData" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">ccfcaaf3c01a11e3a64efcf8aee30cc8
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MT_ConsultaEstoque">
        <wsdl:documentation/>
        <wsdl:part name="MT_ConsultaEstoque" element="p1:MT_ConsultaEstoque"/>
    </wsdl:message>
    <wsdl:message name="MT_ConsultaEstoque_Response">
        <wsdl:documentation/>
        <wsdl:part name="MT_ConsultaEstoque_Response" element="p1:MT_ConsultaEstoque_Response"/>
    </wsdl:message>
    <wsdl:message name="p3.MT_Erro">
        <wsdl:documentation/>
        <wsdl:part name="MT_Erro" element="p2:MT_Erro"/>
    </wsdl:message>
    <wsdl:portType name="SI_ConsultaEstoqueSyncOut">
        <wsdl:documentation/>
        <wsdl:operation name="SI_ConsultaEstoqueSyncOut">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SI_ConsultaEstoqueSyncOut"/>
            </wsp:Policy>
            <wsdl:input message="p1:MT_ConsultaEstoque"/>
            <wsdl:output message="p1:MT_ConsultaEstoque_Response"/>
            <wsdl:fault name="p3.MT_Erro" message="p1:p3.MT_Erro"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SI_ConsultaEstoqueSyncOutBinding" type="p1:SI_ConsultaEstoqueSyncOut">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="SI_ConsultaEstoqueSyncOut">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
            <wsdl:fault name="p3.MT_Erro">
                <soap:fault use="literal" name="p3.MT_Erro" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BS_RMAWEB_SI_ConsultaEstoqueSyncOut_x_x">
        <wsdl:port name="HTTP_Port" binding="p1:SI_ConsultaEstoqueSyncOutBinding">
            <soap:address
                    location="https://sepd.camargocorrea.com.br/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_RMAWEB&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ConsultaEstoqueSyncOut&amp;interfaceNamespace=urn%3Acccc.rmaweb.consultaestoque"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:SI_ConsultaEstoqueSyncOutBinding">
            <soap:address
                    location="https://hoxi001cmg:9016/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_RMAWEB&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ConsultaEstoqueSyncOut&amp;interfaceNamespace=urn%3Acccc.rmaweb.consultaestoque"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>