vexiadeveloperteam-rmonline-ag-api-v1-8e5c0ec296d7/src/main/java/br/com/nextage/rmaweb/ws/receberentradamaterial/SincEstoque.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cpweb.nextage.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cpweb.nextage.com.br/" name="SincEstoque">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.cpweb.nextage.com.br/" schemaLocation="http://localhost:8095/cpweb/SincEstoque?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="listarCpNaoPatrimoniados">
        <part name="parameters" element="tns:listarCpNaoPatrimoniados"/>
    </message>
    <message name="listarCpNaoPatrimoniadosResponse">
        <part name="parameters" element="tns:listarCpNaoPatrimoniadosResponse"/>
    </message>
    <message name="enviaEquipamento">
        <part name="parameters" element="tns:enviaEquipamento"/>
    </message>
    <message name="enviaEquipamentoResponse">
        <part name="parameters" element="tns:enviaEquipamentoResponse"/>
    </message>
    <message name="listarPatrimonio">
        <part name="parameters" element="tns:listarPatrimonio"/>
    </message>
    <message name="listarPatrimonioResponse">
        <part name="parameters" element="tns:listarPatrimonioResponse"/>
    </message>
    <message name="listarCpPatrimoniados">
        <part name="parameters" element="tns:listarCpPatrimoniados"/>
    </message>
    <message name="listarCpPatrimoniadosResponse">
        <part name="parameters" element="tns:listarCpPatrimoniadosResponse"/>
    </message>
    <message name="estornarEstoque">
        <part name="parameters" element="tns:estornarEstoque"/>
    </message>
    <message name="estornarEstoqueResponse">
        <part name="parameters" element="tns:estornarEstoqueResponse"/>
    </message>
    <message name="enviaReserva">
        <part name="parameters" element="tns:enviaReserva"/>
    </message>
    <message name="enviaReservaResponse">
        <part name="parameters" element="tns:enviaReservaResponse"/>
    </message>
    <message name="transferir">
        <part name="parameters" element="tns:transferir"/>
    </message>
    <message name="transferirResponse">
        <part name="parameters" element="tns:transferirResponse"/>
    </message>
    <message name="gerarCautela">
        <part name="parameters" element="tns:gerarCautela"/>
    </message>
    <message name="gerarCautelaResponse">
        <part name="parameters" element="tns:gerarCautelaResponse"/>
    </message>
    <message name="listarEstoque">
        <part name="parameters" element="tns:listarEstoque"/>
    </message>
    <message name="listarEstoqueResponse">
        <part name="parameters" element="tns:listarEstoqueResponse"/>
    </message>
    <portType name="SincEstoque">
        <operation name="listarCpNaoPatrimoniados">
            <input wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/listarCpNaoPatrimoniadosRequest" message="tns:listarCpNaoPatrimoniados"/>
            <output wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/listarCpNaoPatrimoniadosResponse" message="tns:listarCpNaoPatrimoniadosResponse"/>
        </operation>
        <operation name="enviaEquipamento">
            <input wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/enviaEquipamentoRequest" message="tns:enviaEquipamento"/>
            <output wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/enviaEquipamentoResponse" message="tns:enviaEquipamentoResponse"/>
        </operation>
        <operation name="listarPatrimonio">
            <input wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/listarPatrimonioRequest" message="tns:listarPatrimonio"/>
            <output wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/listarPatrimonioResponse" message="tns:listarPatrimonioResponse"/>
        </operation>
        <operation name="listarCpPatrimoniados">
            <input wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/listarCpPatrimoniadosRequest" message="tns:listarCpPatrimoniados"/>
            <output wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/listarCpPatrimoniadosResponse" message="tns:listarCpPatrimoniadosResponse"/>
        </operation>
        <operation name="estornarEstoque">
            <input wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/estornarEstoqueRequest" message="tns:estornarEstoque"/>
            <output wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/estornarEstoqueResponse" message="tns:estornarEstoqueResponse"/>
        </operation>
        <operation name="enviaReserva">
            <input wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/enviaReservaRequest" message="tns:enviaReserva"/>
            <output wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/enviaReservaResponse" message="tns:enviaReservaResponse"/>
        </operation>
        <operation name="transferir">
            <input wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/transferirRequest" message="tns:transferir"/>
            <output wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/transferirResponse" message="tns:transferirResponse"/>
        </operation>
        <operation name="gerarCautela">
            <input wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/gerarCautelaRequest" message="tns:gerarCautela"/>
            <output wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/gerarCautelaResponse" message="tns:gerarCautelaResponse"/>
        </operation>
        <operation name="listarEstoque">
            <input wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/listarEstoqueRequest" message="tns:listarEstoque"/>
            <output wsam:Action="http://ws.cpweb.nextage.com.br/SincEstoque/listarEstoqueResponse" message="tns:listarEstoqueResponse"/>
        </operation>
    </portType>
    <binding name="SincEstoquePortBinding" type="tns:SincEstoque">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="listarCpNaoPatrimoniados">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="enviaEquipamento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listarPatrimonio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listarCpPatrimoniados">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="estornarEstoque">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="enviaReserva">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="transferir">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="gerarCautela">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listarEstoque">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SincEstoque">
        <port name="SincEstoquePort" binding="tns:SincEstoquePortBinding">
            <soap:address location="http://localhost:8095/cpweb/SincEstoque"/>
        </port>
    </service>
</definitions>